/*
Light orange: #F60
Darker orange: #D45500;
Gray: #666;
Black: #000;
*/

body{
	background-color: #373e48;
	background: linear-gradient(#373e48 500px, #b7c4c8);
}

.background-line {
	width: 5px;
	border-radius: 2.5px;
	background-color: black;
	border-right: 1px solid white;
}

.center-flex-container {
	display: flex;
	justify-content: center;
}

.end-flex-container {
	display: flex;
	justify-content: flex-end;
}

.layer-1 {
	position: absolute;
	z-index: 1;
}

.layer-back-1 {
	position: absolute;
	z-index: -1;
}

.popup {
	position: fixed;
	z-index: 2;
}

#login {
	width: 50%;
	height: 500px;
	background-color: #f60;
	margin-top: 100px;
	border-radius: 50px;
	border: 3px solid white;
}

#banner-menu{
	background-color:black;
	border-bottom: 2px solid white;
}

#chooseTown {
	background-color: black;
	background: "";
	margin-top: 7px;
	-webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
	color: white;
	outline: none;
	border: none;
}

#user{
	color:white;
	line-height:35px;
	text-align:center;
	cursor:pointer;
}

/*#logIn{
	float:right;
	width:150px;
	height:200px;
	background-color:gray;
	z-index: 2;
}*/

#banner {
	background-color: white;
}

.img-container {
	overflow: hidden;
}

#banner_image {
	opacity: 0.8;
	width: 100%;
}

@media (max-width: 700px) {
	#banner_image {
		width: auto;
		height: 200px;
	}
}

#banner-line {
	height:15px;
	background-color: black;
	border-top: 2px solid white;
}

#events-wrapper {
	background-color:white;
	margin-top: 20px;
	border-radius: 8em / 8em;
}

#menu{
	width:100%;
	height:80px;
	background-color:#666;
	font-family: 'BioRhyme', serif;
}

.logo{
	display:block;
	padding-top:20px;
	margin:0 auto;
}

.event {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Noto Sans', sans-serif;
}

.event h2{
	font-family: 'BioRhyme', serif;
	margin-bottom:20px;
	text-align: center;
}

.line {
	height: 50px;
	border-top: 5px dotted #F60;
}

.registerButton {
	font-family: 'BioRhyme', serif;
	text-decoration: none;
	display: block;
	background-color: red;
	width: 150px;
	height: 150px;
	text-align: center;
	line-height: 150px;
	border-radius: 50%;
	color:white;
}
