<div class="left-page">
  <div class="row">
    <img src="./img/banner_logo.png" class="logo">
  </div>
  <div class="row">
    <div class="center-flex-container button-margin">
      <div id="login-button" class="registerButton"
        ng-click="showLogin=true">
        Log in
      </div>
    </div>
  </div>
  <div class="row">
    <div class="center-flex-container button-margin">
      <div id="register-button" class="registerButton"
        ng-click="showLogin=true">
        Register
      </div>
    </div>
  </div>
</div>
