<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="mainModule" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="mainModule" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="mainModule" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="mainModule" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Onlinesoppa</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="./css/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="./css/normalize.css">
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
  <link href="https://fonts.googleapis.com/css?family=BioRhyme|Noto+Sans" rel="stylesheet">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="GuiController">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <div class="container-fluid">
    <div ng-show="showLogin" ng-include="'/html/login-view.html'"></div>
    <div class="row">
      <div id=banner_menu class="col-xs-12 col-lg-12">
          <select id="chooseTown" ng-model="locationSelector">
            <option value="karlskrona">Karlskrona</option>
            <option value="malmo">Malmö</option>
            <option value="halmstad">Halmstad</option>
          </select>
          <div id="user" ng-click="showLogin=true">
            Log in
          </div>
      </div>
    </div>
    <!--<div id="logIn">
    </div>-->
    <div id="banner">
      <div class="row layer-1">
        <div class="col-xs-3 col-lg-4"></div>
        <img src="./img/banner_logo.png" alt="OnlineSoppa" class="responsive-img col-xs-6 col-lg-4">
      </div>
      <div class="row">
        <img src="./img/soup_image.png" alt="OnlineSoppa" id="banner_image" class="responsive-img col-xs-12 col-lg-12">
      </div>
    </div>
    <div id="bannerLine" class="row col-xs-12 col-lg-12"></div>
    <div ng-if="locationSelector=='karlskrona'" ng-include="'/html/karlskrona-view.html'"></div>
    <div ng-if="locationSelector=='malmo'" ng-include="'/html/malmo-view.html'"></div>
    <div ng-if="locationSelector=='halmstad'" ng-include="'/html/halmstad-view.html'"></div>
  </div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="controllers/guiController.js"></script>
</body>
</html>
