<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="mainModule" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="mainModule" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="mainModule" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="mainModule" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Onlinesoppa</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" type="text/css" href="./css/normalize.css">
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
  <link rel="stylesheet" href="./css/stylesheet.css">
  <link href="https://fonts.googleapis.com/css?family=BioRhyme|Noto+Sans" rel="stylesheet">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="GuiController">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <div class="container-fluid">
    <div id="page-background" class="row layer-back-2">
      <div class="upper-border col-lg-12"></div>
      <img src="./img/large-soup-image.png" class="responsive-img col-lg-12">
      <div class="lower-border col-lg-12"></div>
    </div>
    <div class="row layer-back-1">
      <div class="row col-lg-offset-4 col-lg-8">
        <div class="center-flex-container col-lg-offset-1 col-lg-1">
          <div class="string"></div>
        </div>
        <div class="center-flex-container col-lg-1">
          <div class="string"></div>
        </div>
        <div class="center-flex-container col-lg-offset-6 col-lg-1">
          <div class="string"></div>
        </div>
        <div class="center-flex-container col-lg-1">
          <div class="string"></div>
    <!-- <div ng-show="showLogin" ng-include="'/html/login-view.html'"></div>
      <div id=banner-menu class="row">
        <div id="user" class="col-xs-offset-7 col-xs-2 col-sm-offset-7 col-sm-2
          col-md-offset-9 col-md-1 col-lg-offset-9 col-lg-1 col-xl-offset-10 col-xl-1" ng-click="showLogin=true">
          Log in -->
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-1 center-flex-container">
          <select id="chooseTown" class="" ng-model="locationSelector">
            <option value="karlskrona">Karlskrona</option>
            <option value="malmo">Malmö</option>
            <option value="halmstad">Halmstad</option>
          </select>
        </div>
      </div>
    </div>
    <div ng-show="showLogin" ng-include="'/html/login-view.html'"></div>
    <div id=top-menu class="row">
      <div class="col-xs-2 col-lg-8"></div>
      <select id="chooseTown" class="" ng-model="locationSelector">
        <option value="karlskrona">Karlskrona</option>
        <option value="malmo">Malmö</option>
        <option value="halmstad">Halmstad</option>
      </select>
      <div id="user" ng-click="showLogin=true">
        Log in
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <img src="./img/banner_logo.png" class="col-lg-offset-1 col-lg-11">
        </div>
        <div class="row">
          <div class="col-lg-offset-1 col-lg-11 center-flex-container">
            <div id="login-button" class="registerButton"
              ng-click="showLogin=true">
              Log in
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-offset-1 col-lg-11 center-flex-container">
            <div id="register-button" class="registerButton"
              ng-click="showLogin=true">
              Register
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div ng-if="locationSelector=='karlskrona'" ng-include="'/html/karlskrona-view.html'"></div>
        <div ng-if="locationSelector=='malmo'" ng-include="'/html/malmo-view.html'"></div>
        <div ng-if="locationSelector=='halmstad'" ng-include="'/html/halmstad-view.html'"></div>
      </div>
    </div>
    <!-- <div id="banner">
      <div class="row layer-1">
        <img src="./img/banner_logo.png" alt="OnlineSoppa" id="banner-logo" class="responsive-img col-xs-offset-2 col-xs-8
          col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
      </div>
      <div class="row">
        <div class="img-container col-xs-12 col-lg-12">
          <img src="./img/soup_image.png" alt="OnlineSoppa" id="banner_image" class="responsive-img">
        </div>
      </div>
    </div>
    <div id="banner-line" class="row"></div>
    <div ng-if="locationSelector=='karlskrona'" ng-include="'/html/karlskrona-view.html'"></div>
    <div ng-if="locationSelector=='malmo'" ng-include="'/html/malmo-view.html'"></div>
    <div ng-if="locationSelector=='halmstad'" ng-include="'/html/halmstad-view.html'"></div> -->
  </div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="js/functions.js"></script>
  <script src="controllers/guiController.js"></script>
</body>
</html>
